<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=SomeDb;Integrated Security=true" />
  </connectionStrings>
  <appSettings>
    <add key="someSetting" value="someValue" />
  </appSettings>
</configuration>
